<a href="https://telegram.me/my_scheduling_bot">Send us a message to receive Push Notifications via Telegram!"</a>
h1 hello

#my_schedule_container

= javascript_pack_tag 'my-schedule'
= image_pack_tag 'media/img/rectangle.svg', alt: 'A rectangle'