@import '../css/font_faces';
@import "../css/mycomponent.scss"; 
@import 'react-big-calendar/lib/sass/styles';

h1 {  
  font-family: 'Asap';
  text-decoration: underline;  
}  

.rbc-timeslot-group {
  min-height: 68px;
}

.rbc-event {
  border-radius: 0px;
  min-height: 16.75px !important;
}